.one{
    box-sizing: border-box;
      display: block;
      overflow: hidden;
      width: initial;
      height: initial;
      background: none;
      opacity: 1;
      border: 0;
      margin: 0;
      padding: 0;
      position: relative;
}
#more{
    display: none;
}
#dots:active{
    display:none;
}
.two{
    box-sizing: border-box;
       display: block;
       width: initial;
       height: initial;
       background: none;
       opacity: 1;
       border: 0;
       margin: 0;
       padding: 0;
       padding-top: 100%;
}
.img{
    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    box-sizing: border-box;
                    padding: 0;
                    border: none;
                    margin: auto;
                    display: block;
                    width: 0;
                    height: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
}

img{
    position: absolute;
                         top: 0;
                         left: 0;
                         bottom: 0;
                         right: 0;
                         box-sizing: border-box;
                         padding: 0;
                         border: none;
                         margin: auto;
                         display: block;
                         width: 0;
                         height: 0;
                         min-width: 100%;
                         max-width: 100%;
                         min-height: 100%;
                         max-height: 100%; 
}
.more{
    tab-size: 4;
                 font-family: Rubik,sans-serif;
                 line-height: inherit;
                 --tw-bg-opacity: 1;
                 --tw-gradient-from: #f8f8f8;
                 --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
                 --tw-gradient-to: #fff;
                 list-style: none;
                 list-style-position: inside;
                 --tw-text-opacity: 1;
                 color: rgb(79 86 101/var(--tw-text-opacity));
                 box-sizing: border-box;
                 border: 0 solid;
                 --tw-border-spacing-x: 0;
                 --tw-border-spacing-y: 0;
                 --tw-translate-x: 0;
                 --tw-translate-y: 0;
                 --tw-rotate: 0;
                 --tw-skew-x: 0;
                 --tw-skew-y: 0;
                 --tw-scale-x: 1;
                 --tw-scale-y: 1;
                 --tw-pan-x: ;
                 --tw-pan-y: ;
                 --tw-pinch-zoom: ;
                 --tw-scroll-snap-strictness: proximity;
                 --tw-ordinal: ;
                 --tw-slashed-zero: ;
                 --tw-numeric-figure: ;
                 --tw-numeric-spacing: ;
                 --tw-numeric-fraction: ;
                 --tw-ring-inset: ;
                 --tw-ring-offset-width: 0px;
                 --tw-ring-offset-color: #fff;
                 --tw-ring-color: rgba(59,130,246,.5);
                 --tw-ring-offset-shadow: 0 0 #0000;
                 --tw-ring-shadow: 0 0 #0000;
                 --tw-shadow: 0 0 #0000;
                 --tw-shadow-colored: 0 0 #0000;
                 --tw-blur: ;
                 --tw-brightness: ;
                 --tw-contrast: ;
                 --tw-grayscale: ;
                 --tw-hue-rotate: ;
                 --tw-invert: ;
                 --tw-saturate: ;
                 --tw-sepia: ;
                 --tw-drop-shadow: ;
                 --tw-backdrop-blur: ;
                 --tw-backdrop-brightness: ;
                 --tw-backdrop-contrast: ;
                 --tw-backdrop-grayscale: ;
                 --tw-backdrop-hue-rotate: ;
                 --tw-backdrop-invert: ;
                 --tw-backdrop-opacity: ;
                 --tw-backdrop-saturate: ;
                 --tw-backdrop-sepia: ;
                 position: relative;
                 text-align: left;
                 opacity: 1;
                 transform: none;
                 opacity: 1; transform: none;
}





